
.one{
  
      ion-col {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      
    //   ion-row:nth-child(even) {
    //     background-color: #dddddd;
    //   }  

}

      
